<div class="container">
  <h1>Reactive Redux Froms</h1>

  <mat-card>
    <form [formGroup]="form">
      <div class="row" >
        <mat-form-field>
          <mat-select placeholder="Method">
            <mat-option *ngFor="let option of methodOption">
              {{option.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button class="btn" (click)="addMethod()">
          +
        </button>
      </div>

    </form>
  </mat-card>

</div>

<!-- <router-outlet></router-outlet> -->