<div class="container">
  <h1>Reactive Redux Froms</h1>

  <mat-card>
    <form [formGroup]="form">
      <div formArrayName="methods">
        <div class="row" *ngFor="let method of methods; let i=index">
          <div [formGroupName]="i">
            <mat-form-field class="full-width">
              <mat-select placeholder="Method" formControlName="methodName">
                <mat-option *ngFor="let option of methodOption" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngFor="let option of map[method.value.methodName]">
              <mat-checkbox (change)="addOption(option, i, $event)">{{option}}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>




      <div>
        <button class="btn" (click)="addMethod()">
          +
        </button>
      </div>

    </form>
  </mat-card>

  {{ form.value | json }}<BR>

</div>

<!-- <router-outlet></router-outlet> -->