<div class="container">
  <h1>Reactive Redux Froms</h1>

  <mat-card>
    <form [formGroup]="form">
      <div class="row" *ngFor="let method of form.controls['methods'].value">
        {{method | json}}
        <mat-form-field class="full-width">
          <mat-select placeholder="Method" formControllName="method.methodName">
            <mat-option *ngFor="let option of methodOption">
              {{option.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button class="btn" (click)="addMethod()">
          +
        </button>
      </div>

    </form>
  </mat-card>

</div>

<!-- <router-outlet></router-outlet> -->